body {
    font-family: 'Cinzel', serif;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    transition: opacity 1s ease-out;
}

#box {
    width: 95%;
    height: 95%;
    margin: 0 auto;
    background: #333333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: opacity 1s ease-out;
}

.container {
    display: flex;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    transition: opacity 1s ease-out;
    background: #333333;
}

.left {
    flex: 2;
}

.middle {
    flex: 4;
}

.right {
    flex: 2;
}

.side {
    background: #605555;
    border-radius: 4px;
    margin-right: 4px;
    margin-left: 4px;
}

#game-icon, #menu-icon {
    width: 70%;
    aspect-ratio: 1/1;
    margin-bottom: 20px;
    object-fit: contain;
}

button {
    width: 100%;
    height: auto;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 5px 10px;
    font-size: auto;
    cursor: pointer;
    background-color: #444444;
    color: #ffffff;
    border: 4px;
    border-radius: 4px;
    font-family: 'Cinzel', serif;
    transition: background-color 0.3s;
    object-fit: contain;
}
button:hover {
    background-color: #555555;
}

#time {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    object-fit: contain;
    font-size: 70%;
}

.resource-cell {
    padding: 10px;
    cursor: pointer;
}

.fade-out {
    opacity: 0;
}

.tooltip {
    position: absolute;
    background-color: #444444;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    visibility: hidden;
    z-index: 10;
    transition: opacity 0.3s;
}

canvas {
    border: 1px solid #000;
    background-color: #ccc;
    width: 100%;
    aspect-ratio: 12/8;
    margin-top: 10px;
}